/* @theme cpslab */

@import 'uncover';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --color-background: #ffffff;
}
section {
  background-image: none;
  font-size: 30px;
  text-align: left;
}
section::after {
  font-size: 24px;
  font-weight: bold;
}
h4 {
  color: #888888;
}

header::before {
  content: '';
  position: fixed;
  top: 5px;
  left: 970px;
  width: 300px;
  height: 150px;
  background-image: url('https://github.com/gomadoufu/mySlides-Marp-md/blob/image/CPS-Lab/CPSLab.png?raw=true');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

header {
  background-color: #ececec;
  color: #595959;
  text-align: left;
  font-size: 1.6em;
  padding-top: 15px;
  padding-left: 30px;
  border-bottom: solid 10px #595959;
  left: 50px;
  right: 50px;
  height: 85px;
}
header img {
  position: fixed;
}
footer {
  position: absolute;
  left: 50px;
  right: 110px;
  border-top: solid 10px #595959;
}

code {
  font-family: 'Source Code Pro', monospace;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
